<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap Core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/animate.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

        <!-- Template js -->
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/contact_me.js"></script>
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <img width="100%" src="/images/selection/SelectionInfo/cafe_largo.png"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <h1><%= titulo %></h1>

        <!-- Start Main Body Section -->
        <div class="mainbody-section text-center">
            <div class="container">
                <div class="row center-block">  
                    <% dataJSON.forEach(function(producto) { %> 
                    <div class="menu-item marron col-sm-3 col-md-3 col-lg-2" id="id-producto-<%=producto.index%>">            
                        <div id="menu-selection-<%=producto.index%>">
                            <div><%= producto.name %> - <%= producto.phone %></div>
                            <div><img src='/images/selection/solo_img/<%=producto.picture%>.png' /></div> 
                            <p class="text-center"><%= producto.precio %> €</p>
                        </div>
                        <!-- Button trigger modal -->
                        <div class="right">
                            <button type="button" class="btn-info" data-toggle="modal" data-target="#myModal">
                                Info
                            </button>
                        </div>

                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>
